.tran {	-webkit-transition: all 0.1s ease-in-out;	-moz-transition: all 0.1s ease-in-out;	-o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
body { margin:0px; padding:80px 0px 40px 0px; font-family: 'Source Sans Pro', sans-serif; color:#799999; font-size:16px; -webkit-tap-highlight-color: rgba(0,0,0,0); background-color:white }
.wrap { margin:0 auto; position:relative; padding:0px 20px 0px 20px; box-sizing: border-box; }
.half { width:50%; height:60px; position:absolute;  }
.right { text-align:right; right:20px }
.left {  text-align:left}
.item.hide { display:none; }
p { font-weight:300; font-size:18px }
h1, h2 { color:#364656; font-weight:300; font-size:70px; margin-top:80px }
h2 { font-size:50px }

a { color:#364656; text-decoration: none }
a:hover { color:black; }
a.button { padding:4px 12px 6px 12px; border-radius:4px; cursor:pointer; border:1px solid #cddbee; box-sizing: border-box; background-color:white;  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.2); -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.2); box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.1); }
.menu-block a:hover, a.button:hover { background-color:#eef9ff }
a.button:active, .menu-block a:active { color:white; background-color:#364656; border-color:#364656;}

.shadow { -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.2); -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.2); box-shadow: 0px 1px 1px 0px rgba(0,0,102,0.1); }

.header { width:100%; position:fixed; top:0; left:0; height:60px; box-sizing:border-box; font-size:18px; z-index:2; background-color:white }
.icon-menu { padding:10px 20px 8px 20px; position:absolute; left:0; top:0; }
.icon-menu:hover { color:black }
.button.create { position:absolute; top:12px; left:62px }
.logo { position:absolute; margin:auto; left:0; right:0; top:10px; width:38px }

.header .half.right { line-height:1.3; vertical-align: top; padding-top:18px }
.header .fb-share-button { margin-left:10px; margin-right:10px }
.header .fb-like, .header .fb-share-button { display:inline }

.overlay { display:none; position:fixed; width:100vw; height:100vh; background-color:#cddbee; z-index:1; opacity:0 }
.menu-block { position: fixed; top:-500px; margin:auto; left:0; right:0; background-color:white; max-width:100vw; z-index:1; font-size:18px; }
.menu-block a { display:block; height:60px; border-bottom:1px solid #cddbee; max-width:100%; line-height:60px; padding-left:20px;}
.menu .overlay { display:block; opacity:0.4 }
.menu .icon-menu:before { content: "\e606"; }
.menu .menu-block { top:60px; }
.current { background-color:#eef9ff }

.filter { text-align:center; position:fixed; left:60px; top:18px; z-index:4 }
.filter a { padding:13px; color:#799999 }
.filter a:hover { color:black }
.newnew { position:absolute; left:140px; margin-top:10px; background-color:#ff6868; color:white; padding:2px 4px 2px 4px; border-radius:30px 30px 30px 0px; font-size:10px }

.extension { text-align:center; display:none; margin-bottom:20px; position:relative }
.popular .extension { display:block }
.extension h2 { margin:20px; font-size:30px }
.extension .button { font-size:18px; display:inline  }
.extension .newnew { position:absolute; width:20px; top:50px; right:-190px; left:0; margin:0 auto;  }

.feed { text-align:center;  margin:0 auto; padding:0px 20px 0px 20px; max-width:1800px }
.loader { display:block; margin:0 auto }

.item { margin:30px; padding:20px; background-color:white; border-radius:8px; display:inline-block; width:280px; position:relative;}

.actionbar { margin-top:15px; text-align:left }
.actionbar div { display:inline-block; width:50% }
.actionbar .icon-heart { font-size:20px; color:#799999; margin-left:-5px }
.actionbar a.like:hover .icon-heart { color: #364656 }
.actionbar a.like:active .icon-heart { color: #ff6868 }
.actionbar .count { color:#799999; }
.actionbar .share { display:none; margin-left:5px }
.date { font-size:12px }

.item.liked a.like { color:#799999; background-color:#eef9ff; cursor:default }
.item.liked .icon-heart, .item.liked a.like:hover .icon-heart { color:#ff6868; cursor:default }

.canvas { max-width:100%; padding-bottom:100%; border-radius:6px; position:relative; display:block }
.canvas a { width:100%; height:100%; display:block; position:absolute }
.place { position:absolute; width:100%; border-radius: 20px 20px 0px 0px  }
.c1 { padding-bottom:41%; border-radius: 6px 6px 0px 0px }
.c2 { padding-bottom:67%;  }
.c3 { padding-bottom:85%;  }
.c4 { padding-bottom:100%; border-radius: 20px 20px 6px 6px  }
.place span { position:absolute; text-align:center; display:block; bottom:0; color:white; opacity:0; text-transform: uppercase; background-color:rgba(0,0,0,0.1); padding:3px 6px 3px 6px; border-radius:0px 3px 0px 0px;  }
.place:hover span { opacity:1; letter-spacing:1px }

.home { background-color: #E8F1F5 }
.home .wrap { text-align:center }
.focus { width:480px; display:block; margin:0 auto; margin-bottom:100px; margin-top:60px; }
.focus .actionbar .share { display:inline-block; margin-right:5px }

.message { background-color:white; padding:20px; margin-top:-20px; margin-bottom:40px; display:none;  position:relative; }
.message a.button { position:absolute; right:20px; top:24px; background-color:white }
.message a.button:hover { color:#364656 }
.mine .message { display:block;  }

@media screen and (min-width: 880px) {
.focus .place { font-size:24px }
}

@media screen and (max-width: 880px) {
.newnew { display:none }
.header .twitter-share-button { display:none }
.header .create, .menu-block .create { display:none }
.filter { left:55px; top:20px }
.filter .popular, .filter .random { display:none }
.item { width:180px; margin:10px; padding:15px 15px 20px 15px }
.item.focus { width:auto; max-width: 100% }
.item .left { width:100% }
.item .right { display:none }
.place span { font-size:14px }
body { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.loader { width:60px }
}
.header .half.left {
    line-height: 1.3;
    vertical-align: top;
    padding-top: 18px;
}
