<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>2ii.me -超炫酷个人引导页</title>

<link rel="stylesheet" type="text/css" href="/template/canvas1/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/template/canvas1/css/demo.css" />

<!--必要样式-->
<link rel="stylesheet" type="text/css" href="/template/canvas1/css/component.css" />

<!--[if IE]>
	<script src="js/html5.js"></script>
<![endif]-->
</head>
<body>
<div class="container demo-4">
	<div class="content">
		<div id="large-header" class="large-header">
			<canvas id="demo-canvas"></canvas>
			<a href="https://www.2ii.me"><h1 class="main-title">WeDo</span></h1></a>
		</div>
	</div>
</div><!-- /container -->
<script src="/template/canvas1/js/rAF.js"></script>
<script src="/template/canvas1/js/demo-4.js"></script>
</body>
</html>
