<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>表白网自动生成程序-2ii.me</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<script type="text/javascript" src="/template/love1/Scripts/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/template/love1/Scripts/jquery.js"></script>
<script type="text/javascript" src="/template/love1/Scripts/functions.js"></script>
<link rel="stylesheet" type="text/css" href="/template/love1/Css/reset.css"/>
<link rel="stylesheet" type="text/css" href="/template/love1/Css/style.css"/>
<link rel="shortcut icon" href="/template/love1/favicon.ico">
<style>
	.music{width：0px;height:0px;overflow:hidden;}<!--隐藏最底部播放器-->
</style>
</head>
<body>
<div class="stage">
	<ul>
		<li>
		<div class="bg" data-url="/template/love1/pic/lib.jpg">
		</div>
		</li>
		<li class="content">
		<h1>yourname&amp;yourlove</h1>
		<h2>自见过你那一天，我学会了失眠，不为你的容颜，只忆你的笑脸 <br/><a href="#yi"><img src="/template/love1/Picture/np.png"/></a></h2>
		</li>
	</ul>
	<ul>
		<a name="yi"></a>
		<li>
		<div class="bg" data-url="/template/love1/pic/dor.jpg">
		</div>
		</li>
		<li class="content">
		<h2>若不能分分钟见到你的身影，我便会惶恐不安，你的出现，占满了我的视线，我愿跟随你永远。 <br/><a href="#er"><img src="/template/love1/Picture/np.png"/></a></h2>
		</li>
	</ul>
	<ul>
		<a name="er"></a>
		<li>
		<div class="bg" data-url="/template/love1/pic/lemon.jpg">
		</div>
		</li>
		<li class="content">
		<h2>之前我不相信一见钟情，但是见到你的那一刻，我否定了我的看法。<br/><a href="#san"><img src="/template/love1/Picture/np.png"/></a></h2>
		</li>
	</ul>
	<ul>
		<a name="san"></a>
		<li>
		<div class="bg" data-url="/template/love1/pic/fool.jpg">
		</div>
		</li>
		<li class="content" id="item">
		<h2>我的心为你沦陷，从此只为你跳动。 <br/><a href="#si"><img src="/template/love1/Picture/np.png"/></a></h2>
		</li>
	</ul>
	<ul>
		<a name="si">
		<li>
		<div class="bg" data-url="/template/love1/pic/ferrero.jpg">
		</div>
		</li>
		</a>
		<li class="content"><a>
		<h2>有一种爱的感觉，叫感同身受。<br/><a href="#wu"><img src="/template/love1/Picture/np.png"/></a></h2>
		</a></li>
	</ul>
	<ul>
		<a name="wu"></a>
		<li>
		<div class="bg" data-url="/template/love1/pic/geek.jpg">
		</div>
		</li>
		<li class="content">
		<h2>有一种爱的默契，叫心有灵犀。<br/><a href="#liu"><img src="/template/love1/Picture/np.png"/></a></h2>
		</li>
	</ul>
	<ul>
		<a name="liu"></a>
		<li>
		<div class="bg" data-url="/template/love1/pic/koala.jpg">
		</div>
		</li>
		<li class="content">
		<h2>有一种爱的承诺，叫天长地久。<br/><a href="#qi"><img src="/template/love1/Picture/np.png"/></a></h2>
		</li>
	</ul>
	<ul>
		<a name="qi"></a>
		<li>
		<div class="bg" data-url="/template/love1/pic/glass.jpg">
		</div>
		</li>
		<li class="content">
		<h2>有一种爱的方式，是执子之手,与子携老。 <br/><a href="#ba"><img src="/template/love1/Picture/np.png"/></a></h2>
		</li>
	</ul>
	<ul class="last">
		<a name="ba"></a>
		<li>
		<div class="bg" data-url="/template/love1/pic/kk.jpg">
		</div>
		</li>
		<li class="content">
		<h1>我一直在</h1>
		<h2>yourlove你愿意吗?</h2>
		<a class="up" href="#"><img src="/template/love1/Picture/up.png"/></a></li>
	</ul>
	<div class="music">
		<br/>
		<p align="center">
			<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="330" height="86" src="http://music.163.com/outchain/player?type=2&amp;id=28814701&amp;auto=1&amp;height=66">
			</iframe>
		</p>
	</div>
</div>
<script type="text/javascript" src="/template/love1/Scripts/main.js"></script>
</body>
</html>
